### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
game_df = pd.DataFrame(purchase_data)
game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = len(game_df["SN"].unique())
#player_count = game_df["SN"].value_counts()
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
item_count = len(game_df["Item ID"].unique())
#item_count
purchace_count = len(game_df["Item ID"])
#purchace_count
tot_revenue = game_df["Price"].sum()
avg_price = tot_revenue / purchace_count
#avg_price

In [5]:
summary_table = pd.DataFrame({"Number of Unique Items": item_count,
                              "Average Price": [avg_price],
                              "Number of Purchaces": [purchace_count],
                              
                              "Total Revenue": [tot_revenue]})
summary_table["Average Price"] = summary_table["Average Price"].map("{:.2f}".format)
summary_table["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format)


summary_table

   Number of Unique Items Average Price  Number of Purchaces Total Revenue
0                     183          3.05                  780     $2,379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
#grouped = game_df.groupby('Gender')
male_count = game_df['Gender'][game_df['Gender'] == 'Male'].count()
female_count = game_df['Gender'][game_df['Gender'] == 'Female'].count()
other_count = game_df['Gender'][game_df['Gender'] == 'Other / Non-Disclosed'].count()
total_count = male_count + female_count + other_count
male_pct = (male_count / total_count) * 100
female_pct = (female_count / total_count) * 100
other_pct = (other_count / total_count) * 100

1.9230769230769231

                           mean      sum   size
Gender
Female                 3.203009   361.94  113.0
Male                   3.017853  1967.64  652.0
Other / Non-Disclosed  3.346000    50.19   15.0

In [27]:
gender_summary_table = pd.DataFrame({
    "Gender":['Male', 'Female', 'Other / Non-Disclosed'] ,  
    "Percent":[male_pct, female_pct, other_pct],
    "Total Count":[male_count, female_count, other_count]
    })
gender_summary_table

                  Gender    Percent  Total Count
0                   Male  83.589744          652
1                 Female  14.487179          113
2  Other / Non-Disclosed   1.923077           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
male_total_price = game_df['Price'][game_df['Gender'] == 'Male'].sum()
female_total_price = game_df['Price'][game_df['Gender'] == 'Female'].sum()
other_total_price = game_df['Price'][game_df['Gender'] == 'Other / Non-Disclosed'].sum()

male_avg_price = male_total_price / male_count
female_avg_price = female_total_price / female_count
other_avg_price = other_total_price / other_count

other_avg_price

3.3459999999999996

In [35]:
gender_purch_summary_table = pd.DataFrame({
    "Gender":['Male', 'Female', 'Other / Non-Disclosed'] ,  
    "Total Count":[male_count, female_count, other_count],
    "Average Purchace Price":[male_avg_price, female_avg_price, other_avg_price],
    
    "Total Purchace Value":[male_total_price, female_total_price, other_total_price]
    })
gender_purch_summary_table

,Gender,Total Count,Average Purchace Price,Total Purchace Value
0,Male,652,3.017853,1967.64
1,Female,113,3.203009,361.94
2,Other / Non-Disclosed,15,3.346000,50.19

In [7]:
grouped = game_df.groupby('Gender')

gen_summary_df = grouped['Price'].agg([np.size, np.mean, np.sum  ])
renamed_df = gen_summary_df.rename(columns={"size":"Total Count","mean":"Average Purchace Price", "sum":"Total Purchace Value"})

renamed_df["Total Count"] = renamed_df["Total Count"].map("{:.0f}".format)

renamed_df["Average Purchace Price"] = renamed_df["Average Purchace Price"].map("${:.2f}".format)
renamed_df["Total Purchace Value"] = renamed_df["Total Purchace Value"].map("${:,.2f}".format)

print(renamed_df)

                      Total Count Average Purchace Price Total Purchace Value
Gender
Female                        113                  $3.20              $361.94
Male                          652                  $3.02            $1,967.64
Other / Non-Disclosed          15                  $3.35               $50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
# Establish bins for ages
#age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

game_df['age range'] = pd.cut(game_df.Age, [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999], labels = [" <10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],include_lowest=True)
#bins = [0, 1, 5, 10, 25, 50, 100]

#df['binned'] = pd.cut(df['percentage'], bins)


game_df.head()

#group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,age range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
grouped = game_df.groupby('age range')

age_summary_df = grouped['Price'].agg([np.size, np.mean, np.sum  ])
age_summary_df = age_summary_df.rename(columns={"size":"Total Count","mean":"Average Purchace Price", "sum":"Total Purchace Value"})

age_summary_df["Total Count"] = age_summary_df["Total Count"].map("{:.0f}".format)

age_summary_df["Average Purchace Price"] = age_summary_df["Average Purchace Price"].map("${:.2f}".format)
age_summary_df["Total Purchace Value"] = age_summary_df["Total Purchace Value"].map("${:,.2f}".format)


print(age_summary_df)

          Total Count Average Purchace Price Total Purchace Value
age range
 <10               23                  $3.35               $77.13
10-14              28                  $2.96               $82.78
15-19             136                  $3.04              $412.89
20-24             365                  $3.05            $1,114.06
25-29             101                  $2.90              $293.00
30-34              73                  $2.93              $214.00
35-39              41                  $3.60              $147.67
40+                13                  $2.94               $38.24

In [7]:
#ignore cell below

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94
<10,23,$3.35,$77.13,$3.35

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
grouped = game_df.groupby('SN')

top_summary_df = grouped['Price'].agg([np.size, np.mean, np.sum  ])
top_summary_df = top_summary_df.sort_values(["sum", "SN" ]  , ascending=False)

top_summary_df = top_summary_df.rename(columns={"size":"Total Count","mean":"Average Purchace Price", "sum":"Total Purchace Value"})

top_summary_df["Total Count"] = top_summary_df["Total Count"].map("{:.0f}".format)

top_summary_df["Average Purchace Price"] = top_summary_df["Average Purchace Price"].map("${:.2f}".format)
top_summary_df["Total Purchace Value"] = top_summary_df["Total Purchace Value"].map("${:,.2f}".format)


top_summary_df.head()

            Total Count Average Purchace Price Total Purchace Value
SN
Lisosia93             5                  $3.79               $18.96
Idastidru52           4                  $3.86               $15.45
Chamjask73            3                  $4.61               $13.83
Iral74                4                  $3.40               $13.62
Iskadarya95           3                  $4.37               $13.10

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:

pop_df = game_df[['Item ID', 'Item Name', 'Price']]

grouped = pop_df.groupby(['Item ID', 'Item Name' ])

pop_summary_df = grouped['Price'].agg([np.size, np.max, np.sum  ])
pop_summary_df = pop_summary_df.rename(columns={"size":"Total Count","amax":"Purchace Price", "sum":"Total Purchace Value"})

pop_summary_df = pop_summary_df.sort_values(["Total Count", "Item ID" , "Item Name" ]  , ascending=False)
pop_summary_df["Total Count"] = pop_summary_df["Total Count"].map("{:.0f}".format)
pop_summary_df["Purchace Price"] = pop_summary_df["Purchace Price"].map("${:.2f}".format)
pop_summary_df["Total Purchace Value"] = pop_summary_df["Total Purchace Value"].map("${:.2f}".format)


pop_summary_df.head()

,,Total Count,Purchace Price,Total Purchace Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
103,Singed Scalpel,8,$4.35,$34.80

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [18]:
pop2_summary_df = grouped['Price'].agg([np.size, np.max, np.sum  ])
pop2_summary_df = pop2_summary_df.rename(columns={"size":"Total Count","amax":"Purchace Price", "sum":"Total Purchace Value"})

pop2_summary_df = pop2_summary_df.sort_values(["Total Purchace Value", "Item ID" , "Item Name" ]  , ascending=False)

pop2_summary_df["Total Count"] = pop2_summary_df["Total Count"].map("{:.0f}".format)
pop2_summary_df["Purchace Price"] = pop2_summary_df["Purchace Price"].map("${:.2f}".format)
pop2_summary_df["Total Purchace Value"] = pop2_summary_df["Total Purchace Value"].map("${:.2f}".format)


pop2_summary_df.head()

,,Total Count,Purchace Price,Total Purchace Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [19]:
#
pop2_summary_df.to_csv("popular_summary.csv", index=False, header=True)